@import '../../../../varibale';

.equipment_tab{


    &__table{

        &__item{

            &:hover{
                background-color: $light-secondary-bg;
                color: $white-text-color;
                transition: all 0.3s ease;
            }
        }
    }
}