<div class="statistic px-3 pb-5 py-2 mt-2">
    <h4 class="fs-4">Statistic</h4>
    <hr/>
    <div class="row ">
        <div class="statistic__item col-6 gap-3 ">
            <div class="statistic__item__icon">
                <fa-icon class="fs-4 p-3" [icon]="faHouseLaptop"></fa-icon>
            </div>
            <div class="statistic__item__info">
                <div class="statistic__item__info__number">25</div>
                <div class="statistic__item__info__title">Equiments</div>
            </div>
        </div>
        <div class="statistic__item col-6 gap-3 ">
            <div class="statistic__item__icon employee_number">
                <fa-icon class="fs-4 p-3" [icon]="faUserGroup"></fa-icon>
            </div>
            <div class="statistic__item__info">
                <div class="statistic__item__info__number">25</div>
                <div class="statistic__item__info__title">Employees</div>
            </div>
        </div>
        <div class="statistic__item col-6 gap-3 ">
            <div class="statistic__item__icon assigned_number">
                <fa-icon class="fs-4 p-3" [icon]="faCheck"></fa-icon>
            </div>
            <div class="statistic__item__info">
                <div class="statistic__item__info__number">25</div>
                <div class="statistic__item__info__title">Assigned Equipments </div>
            </div>
        </div>
        <div class="statistic__item col-6 gap-3 ">
            <div class="statistic__item__icon avalable_number">
                <fa-icon class="fs-4 p-3" [icon]="faStore"></fa-icon>
            </div>
            <div class="statistic__item__info">
                <div class="statistic__item__info__number">25</div>
                <div class="statistic__item__info__title">Avalable Equiments</div>
            </div>
        </div>
    </div>
</div>
