<div class="employee mt-2 p-3">
    <div class="my-2 d-flex justify-content-between flex-wrap">
        <h4>Employee Management</h4>
        <div>
            <button class="btn btn-primary" (click)="openAddEquipment()">
                <fa-icon [icon]="faPlus"></fa-icon>
                <span class="d-inline-block mx-2" >Add Employee</span>
            </button>
        </div>
    </div>

    <div class="employee__filter py-2 row">
        <app-employee-filter></app-employee-filter>
    </div>

    <div class="overflow-auto">
        <table class="table employee__table">
            <thead class="" app-table-head [columnList]="columnList" (currentSortFieldChange)="sortBy($event)"></thead>

            <ng-template #skeleton>
                <tbody skeletonTable [skeletonCol]="columnList.length" [skeletonRow]="ITEM_PER_PAGE"></tbody>
            </ng-template>

            <tbody *ngIf="list.length !== 0; else skeleton">
                <tr *ngFor="let employee of list | paginate : currentPage : ITEM_PER_PAGE" class="equipment__item align-middle">
                    <th [style.width.%]="10" scope="row">{{ employee.id }}</th>
                    <td class="col-1">
                        <!-- <div> -->
                        <img class="equipment__item__image" [src]="'http://192.168.40.64:5432' + employee.imageUrl" />
                        <!-- </div> -->
                    </td>
                    <th class="text-truncate" [style.max-width.px]="80">{{ employee.fullName }}</th>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.departmentName }}</td>
                    <td>
                        <div class="d-flex gap-2">
                            <button class="btn btn-warning"
                            (click)="openUpdateEquipment(employee)"
                            >Update</button>
                            <button class="btn btn-danger"
                            (click)="openDeleteWarning(employee)"
                            >Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-pagination
            [length]="list.length"
            [(currentPage)]="currentPage"
            [itemPerPage]="ITEM_PER_PAGE"
            
        ></app-pagination>
        <ng-container #modalContainer></ng-container>

        <ng-container *ngIf="showWarning">
            <app-warning (answer)="deleteEmployee($event)">
                <span>
                    Are you sure to delete <b class="text-warning">{{ currentEmployee?.fullName }}</b>
                </span>
            </app-warning>
        </ng-container>
    </div>
</div>
