<div class="equipment mt-2 p-3">
    <div class="my-2 d-flex justify-content-between flex-wrap">
        <h4>Equipment Management</h4>
        <div>
            <button class="btn btn-primary" (click)="openAddEquipment()">
                <fa-icon [icon]="faPlus"></fa-icon>
                <span class="d-inline-block mx-2">Add Equipment</span>
            </button>
        </div>
    </div>

    <div class="equiment__filter py-2 row">
        <div class="mb-2 col-12 col-md-4">
            <input />
        </div>
    </div>

    <div class="overflow-auto">
        <table class="table equipment__table">
            <thead class="" app-table-head [columnList]="columnList" (currentSortFieldChange)="sortBy($event)"></thead>

            <tbody *ngIf="list.length !== 0">
                <tr *ngFor="let equipment of list | paginate : currentPage : ITEM_PER_PAGE" class="equipment__item align-middle">
                    <th [style.width.%]="10" scope="row">{{ equipment.id }}</th>
                    <th class="text-truncate" [style.max-width.px]="80" [title]="equipment.name">{{ equipment.name }}</th>
                    <td>
                        <div class="d-flex gap-2">
                            <button class="btn btn-warning" (click)="openUpdateEquipment(equipment)">Update</button>
                            <button class="btn btn-primary" (click)="openConcreteEquipment(equipment)">Brand List</button>
                            <button class="btn btn-danger" (click)="openDeleteEquipment(equipment)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-pagination
            [length]="list.length"
            [currentPage]="currentPage"
            [itemPerPage]="ITEM_PER_PAGE"
            (currentPageChange)="handleChangePage($event)"
        ></app-pagination>
        <ng-container #modalContainer></ng-container>
        <!-- <app-add-equipment></app-add-equipment> -->
        <ng-container *ngIf="showWarning">
            <app-warning (answer)="deleteEquipment($event)">
                <span>
                    Are you sure to delete <b class="text-warning">{{ currentEquipment?.name }}</b>
                </span>
            </app-warning>
        </ng-container>
    </div>
</div>
