
$white-bg : #ffff;
$light-bg : #f8f7fa;
$secondary-bg: #766af1;
$light-secondary-bg: #847af4;

$bg-table-head : #dbd8ff;

$normal-font-size: 16px;
$lg-font-size: 20px;

$gradient-bg :linear-gradient(72.47deg,rgb(var(--v-global-theme-primary)) 22.16%,rgba(var(--v-global-theme-primary),.7) 76.47%);

$gray-text-color:#929197;
$white-text-color: #ffff;