<div class="equipment-asignment mt-2 p-3">
    <div class="my-2 d-flex justify-content-between flex-wrap">
        <h4>Equipment Asignment</h4>
        <div>
            <!-- <button class="btn btn-primary" >
                <fa-icon [icon]="faPlus"></fa-icon>
                <span class="d-inline-block mx-2">Add Equipment</span>
            </button> -->
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <app-employee-frame></app-employee-frame>
        </div>
        <div class="col-12 col-md-6">
            <app-equipment-frame></app-equipment-frame>
        </div>
    </div>
</div>
